<md-dialog aria-label="Return Book" style="width: 500px; height: 300px">
  <form ng-cloak>
    <md-toolbar class="primary-color">
      <div class="md-toolbar-tools" >
        <h3>Return Book</h3>
        <span flex></span>        
      </div>
    </md-toolbar>   
    <div class="md-dialog-content" style="margin-bottom: -20px;">
        <h4>Do you want to return this book?</h4>
        <md-input-container flex style="width:60%; margin-bottom: -20px; " >
            <label>Reason</label>
            <textarea ng-model="lend.book" md-maxlength="500" rows="2"></textarea> 
        </md-input-container>
    </div>  
    <md-dialog-actions layout="row">     
      <span flex></span>
      <md-button ng-click="answer(lend.book)" >
       Yes
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>