<div ng-include="'components/navbar/navbar.html'"></div>
<div layout flex class="container overflow-auto">
    <div flex layout="column">
        
        <div class="row col-xs-8 col-xs-offset-2">
        <div class="form-header">
            <h2>
                <div class="row">
                    <div class="col-xs-10"  style="padding:10px 30px;">
                        Return Book
                    </div>
                    <div class="col-xs-1">
                        <md-button class="md-raised btn-info" style="background-color: rosybrown;" ng-click="returnHistory()">
                            HISTORY <i class="material-icons" style="padding-top: 5px;">history</i>
                        </md-button>
                    </div>
                </div>
            </h2>
        </div>
            <form class="form card-frame" name="form" novalidate>
                <table ng-table="bookTable" template-pagination="custom/pager" class="table">
                  <tr>
                    <th style="width:15%">Name</th>
                    <th style="width:15%">E-mail</th>
                    <th style="width:10%">ISBN</th>
                    <th style="width:20%">TITLE</th>
                    <th style="width:10%">AUTHOR</th>
                    <th style="width:10%">BORROWED DATE</th>
                    <th style="width:10%">RETURN DATE</th>
                    <th style="width:10%">FINE (Rs.)</th>
                    <th></th>
                  </tr>
                  <tr ng-repeat="loanbook in returnbooks">
                    <td>{{loanbook.userName}}</td>
                    <td>{{loanbook.userEmail}}</td>
                    <td>{{loanbook.bookIsbn}}</td>
                    <td>{{loanbook.bookTitle}}</td>
                    <td>{{loanbook.bookAuthor}}</td>
                    <td>{{loanbook.bookBorrowedDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{loanbook.bookReturnDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{calculateFine(loanbook.bookReturnDate)}}</td>
                    <td>
                        <div class="row">
                            <div class="">
                                <md-button class="primary-color md-raised" ng-click="returnBook(loanbook)">
                                    RETURN
                                </md-button>
                            </div>
                        </div>
                    </td>
                  </tr>
                </table>
            </form>
        </div>
    </div>
</div>
