<div ng-include="'components/navbar/navbar.html'"></div>
<div layout flex class="container overflow-auto">
    <div flex layout="column">
        <div class="row">
        <div class="col-xs-12 ">
        <div class="form-header">
            <h4>
                <div class="row">
                    <div class="col-xs-10 h4-heading">
                        Return Book
                    </div>
                    <div class="col-xs-1">
                        
                    </div>
                    <md-button class="md-icon-button btn-info background-col btn-color" style="background-color: rosybrown; border-radius:3px; width:84px; height:8px;margin-left:2.3cm;" ng-click="returnHistory()">
                            <sup>History</sup><!-- <i class="material-icons"  >history</i> -->
                            <img src="assets/images/history.svg" style="width:24px;">
                        </md-button>
                </div>
            </h4>
        </div>
            
            <form class="form card-frame btn-frame" name="form" novalidate>
                <table  ng-table="tableParams"  class="table" show-filter="true">
                <tr ng-repeat="loanbook in $data">
                    <td title="'NAME'" filter="{ userName: 'text'}" sortable="'userName'">
                            {{loanbook.userName}}</td>
                    <td title="'EMAIL'" filter="{ userEmail: 'text'}" sortable="'userEmail'">
                            {{loanbook.userEmail}}</td>
                    <td  title="'ISBN'" filter="{bookIsbn: 'text'}" sortable="'bookIsbn'">
                            {{loanbook.bookIsbn}}</td>
                    <td  title="'TITLE'" filter="{bookTitle: 'text'}" sortable="'bookTitle'">
                            {{loanbook.bookTitle}}</td>
                    <td  title="'AUTHOR'" filter="{ bookAuthor: 'text'}" sortable="'bookAuthor'">
                        {{loanbook.bookAuthor}}</td>
                    <td  title="'BORROWED DATE'" filter="{ bookBorrowedDate: 'text'}" sortable="'bookBorrowedDate:'">
                        {{calBorrowedDate(loanbook.bookBorrowedDate )| date:'yyyy-MM-dd'}}</td>
                    <td  title="'RETURN DATE'" filter="{ bookReturnDate: 'text'}"  sortable="'bookReturnDate'">
                        {{calculateDate(loanbook.bookReturnDate) | date:'yyyy-MM-dd'}}</td>
                    <td>
                        <div class="row">
                            <div class="">
                                <md-button  ng-show="loanbook.collected" class="primary-color md-raised btn-color " ng-click="returnBook($event,loanbook)">
                                    RETURN
                                </md-button>
                                <md-button ng-hide="loanbook.collected" class="btn-background  md-raised btn-color" ng-click="showConfirm($event,loanbook)">
                                    COLLECT
                                </md-button>
                            </div>
                        </div>   

                         
                    </td>                   
                
                  </tr>
                  <tr >
                    <td colspan="7" ng-show="$data.length==0"><center><h4 class="page-heading">No data available.  </h4></center></td>   
                  </tr>
                </table>
            </form>
        </div>
    </div>
    </div>
</div>
