<div ng-include="'components/navbar/navbar.html'"></div>
<div layout flex class="container overflow-auto">
    <div flex layout="column">
        <div class="row col-xs-8 col-xs-offset-2">
            <div class="form-header">
                <h2 class="page-heading">Dashboard</h2>
            </div>
            <form class="form card-frame" name="form" novalidate>
				<div class="bg-warning text-warning">
            		<h3 class="h3-heading">Latest Additions</h3>
            	</div>
				<div ng-repeat="book in newbooks">
					<div class="col-xs-6" ng-click="viewBook(book.isbn)"> 
						<br>
						<img class="col-xs-8 img"  src="http://images.amazon.com/images/P/{{book.isbn}}.jpg">
						<div class="col-xs-4"><h4>{{book.title}}</h4></div>
                        <div class="col-xs-4"><h5>Author :</h5></div>
                        <div class="col-xs-4 margin--10" >{{book.author}}</div>
                        <div class="col-xs-4"><h5>Category :</h5></div>
                        <div class="col-xs-4 margin--10" >{{book.catagory}}</div>
                        <div class="col-xs-4" ng-if="book.donatedBy"><h5>Donated by :</h5></div>
                        <div class="col-xs-4 margin--10" >{{book.donatedBy}}</div>
					</div>
				</div>				
			
				<div class="">
            		<h3 class="col-xs-12 bg-warning text-warning h3-heading margin-10">My Loans</h3>
            	</div>
            	<table ng-table="bookTable" template-pagination="custom/pager" class="table">
                  <tr>
                    <th class="width-10">ISBN</th>
                    <th class="width-20">TITLE</th>
                    <th class="width-15">AUTHOR</th>
                    <th class="width-15">PUBLISHER</th>
                    <th class="width-10">YEAR OF PUBLICATION</th>
                    <th class="width-10">BORROWED DATE</th>
                    <th class="width-10">RETURN DATE</th>
                  </tr>
                  <tr ng-repeat="loanbook in loanbooks">
                    <td>{{loanbook.bookIsbn}}</td>
                    <td>{{loanbook.bookTitle}}</td>
                    <td>{{loanbook.bookAuthor}}</td>
                    <td>{{loanbook.bookPublisher}}</td>
                    <td>{{loanbook.bookYearOfPublication | date:'MMM yyyy'}}</td>
                    <td>{{loanbook.bookBorrowedDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{loanbook.bookReturnDate | date:'MM/dd/yyyy'}}</td>
                  </tr>
                </table>
			</form>
        </div>
    </div>
</div>
