<div ng-include="'components/navbar/navbar.html'"></div>
<div layout flex class="container">
    <div flex layout="column">
        <div class="row col-xs-8 col-xs-offset-2">
			<div class="bg-info text-info">
                <h2 style="padding:10px;">{{book.title}}</h2>
            </div>
        <form class="form card-frame" name="form" ng-submit="lendBook(form)" novalidate>
                            
        <table>  
<tr>
		<td>

			
		    <br><img src={{book.image}} width="250" height="300">
		    
                    
		    </td><td style="width:20%"></td>
		    <td>
		    <table>
		    

		    <!--	<tr>
		    		<td style="height:50%"><b>Title:</b>
		    		<br>{{book.title}}<br/>
					</td>   
				</tr>-->
				<tr>
					<td  style="height:50%"><b>Author:</b>
	      			<br>{{book.author}}
	      			</td>
	      		</tr>
	      		<tr>
					<td><b>Publisher:</b>
	      			<br>{{book.publisher}}
	      			</td>
	      		</tr>
	      		<tr>
					<td><b>Category:</b>
	      			<br>{{book.catagory}}
	      			</td>
	      		</tr>
	      	</table>
	      	  <div layout-gt-xs="row">
      

	      	</td>
			     
		</tr> 
		<div>
		<tr><td><h1></h1></td></tr>
		<tr><td><b>About this book:</b>
		<br>{{book.detail}}		
		</td>
		</tr>
		</div>

	  </table> 


        <div class="row">
       <!-- <b>About this book</b>-->

		

      <div flex-gt-xs class="col-sm-6">
        <h4>Borrowed Date</h4>
        <md-datepicker ng-model="BorrowedDate" md-placeholder="Enter date" disabled></md-datepicker>
      </div>
    
      <div flex-gt-xs class="col-sm-6">
        <h4>Return Date</h4>
        <p class="help-block" ng-show="form.ReturnDate.$error.required && submitted" >
                      <font color="red">  Return Date is required.</font>
                    </p>

        
        <md-datepicker ng-model="ReturnDate" md-placeholder="Enter date" name="ReturnDate"
            md-min-date="minDate" md-max-date="maxDate" required ng-disabled="book.remainingCopies<=0 "></md-datepicker>

             
      </div>

		</br></br></br></br></br>
		<p class="help-block" ng-show="book.remainingCopies<=0" style="padding:0px 25px;">
                      <font color="red">  The book that you have requested is currently on loan. Thank you.</font>
                    </p>
      <div class="col-sm-6">
        <md-button class="md-primary md-raised" ng-disabled="book.remainingCopies<=0 " type="submit" >
            Lend Book
            </button>
      </div>
                    <!--div class="col-sm-6">
                        <md-button class="md-primary md-raised" href="/books">
                            All Books
                            </button>
                    </div-->
                </div>
	        </form>
        </div>

        
    </div>
</div>
