<div ng-include="'components/navbar/navbar.html'"></div>
<div layout flex class="container overflow-auto">
   <div flex layout="column">
      <div class="row col-xs-8 col-xs-offset-2">
         <div class="form-header">
            <h2 class="page-heading">{{book.title}}</h2>
         </div>
         <form class="form card-frame" name="form" ng-submit="lendBook(form)" novalidate>
            <div flex-gt-xs class="col-sm-12">
               <div flex-gt-xs class="col-sm-5">
                  <div>
                     <br><img src="{{bookImgUrl}}" width="250" height="300">
                  </div>
               </div>
               <div flex-gt-xs class="col-sm-7">
                  <div>
                     <p class="bottom">
                     <div>
                        <p>       
                           <b>ISBN:</b>
                           <br>{{book.isbn}}
                        </p>
                     </div>
                     <div>
                        <p>       
                           <b>Author:</b>
                           <br>{{book.author}}
                        </p>
                     </div>
                     <div>
                        <p>		
                           <b>Publisher:</b>
                           <br>{{book.publisher}}
                        </p>
                     </div>
                     <div>
                        <p>
                           <b>Category:</b>
                           <br>{{book.catagory}}
                        </p>
                     </div>
                     <div>
                        <p>
                           <b>Year of Publication:</b>
                           <br>{{book.yearOfPublication}}
                        </p>
                     </div>
                     </p>
                  </div>
               </div>
            </div>
            <div flex-gt-xs class="col-sm-12">
               <div>
                  <p class="top">  
                     <b>About this book:</b>
                     <br>
                  <p class="margin-top">{{book.detail}}</p>
                  </p>
               </div>
            </div>
            <div class="row">
               <!-- <b>About this book</b>-->
               <div flex-gt-xs class="col-sm-6 margin"  >
                  <h4 class="h4-left">Loan Date</h4>
                     <md-datepicker ng-model="BorrowedDate" md-placeholder="Enter date" disabled>
                     </md-datepicker> 
               </div>
               <div flex-gt-xs class="col-sm-6 margin" >
                  <h4 class="h4-left">Return Date</h4>                  
                     <md-datepicker ng-model="ReturnDate" md-placeholder="Enter date" name="ReturnDate"
                        md-min-date="minDate" md-max-date="maxDate" required ng-disabled="book.remainingCopies<=0 ">
                     </md-datepicker>
                        <p class="help-block left" ng-show="form.ReturnDate.$error.required && submitted" >
                           <font color="red">  Return Date is required.</font>
                        </p>
               </div>
               </br></br></br></br></br>
                        <p class="help-block error" ng-show="book.remainingCopies<=0" >
                           <font color="red">  The book that you have requested is currently on loan. Thank you.
                           </font>
                        </p>
               <div class="col-sm-6 margin" >
                     <md-button class="primary-color md-raised" ng-disabled="book.remainingCopies<=0 " type="submit" >
                        Lend Book
                     </md-button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
