
<div ng-include="'components/navbar/navbar.html'"></div>
<div layout flex class="container">
    <div flex layout="column">
        <div class="row col-xs-4 col-xs-offset-4">

            <div class="bg-info text-info">
                <h2 style="padding:5px 10px;">Add Book</h2>
            </div>

            <form class="form card-frame" name="form" ng-submit="add(form)" novalidate>               
                <md-input-container flex>
                    <label>ISBN</label>
                    <input type="text" name="isbn" ng-model="book.isbn" required>
                </md-input-container>
                <md-input-container flex>
                    <label>Title</label>
                    <input type="text" name="title" ng-model="book.title" required>
                </md-input-container>
                <md-input-container flex>
                    <label>Author</label>
                    <input type="text" name="author" ng-model="book.author" required>
                </md-input-container>
                <md-input-container flex>
                    <label>About this book</label>
                    <input type="text" name="about" ng-model="book.about" required>
                </md-input-container>
                 <md-input-container flex>
                    <label>Publisher</label>
                    <input type="text" name="pub" ng-model="book.pub" >
                </md-input-container>                                           
                 <md-select ng-model="book.catagory">                  
                    <md-option ng-value="">Category</md-option>                    
                    <md-option ng-value="book" ng-repeat="book in catagory" >{{ book.name }}</md-option>
                </md-select>
                <md-input-container flex>
                    <label>Year Of Publication</label>
                    <input type="text" name="cat" ng-model="book.year" >
                </md-input-container>
                <md-input-container flex>
                    <label>Total Copies</label>
                    <input type="text" name="cat" ng-model="book.tCopy" required>
                </md-input-container>
                <div class="row">
                    <div class="col-sm-6">
                        <md-button class="md-primary md-raised" type="submit">
                            ADD
                        </md-button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
