
<div ng-include="'components/navbar/navbar.html'"></div>
<div layout flex class="container overflow-auto">
    <div flex layout="column">
        <div class="row col-xs-4 col-xs-offset-4">

            <div class="form-header">
                <h2 style="padding:5px 10px;">Add Book</h2>
            </div>

            <form class="form card-frame" name="form" ng-submit="add(form)" novalidate>               
                <md-input-container flex>
                    <label>ISBN</label>
                    <input type="text" name="isbn" ng-model="book.isbn" required>
                </md-input-container>
                    <p class="help-block" ng-show="form.isbn.$error.required && submitted" >
                     <font color="red">  Isbn is required.</font>
                    </p>
                <md-input-container flex>
                    <label>Title</label>
                    <input type="text" name="title" ng-model="book.title" required>
                </md-input-container>
                    <p class="help-block" ng-show="form.title.$error.required && submitted" >
                     <font color="red">  Title is required.</font>
                    </p>
                <md-input-container flex>
                    <label>Author</label>
                    <input type="text" name="author" ng-model="book.author" required>
                </md-input-container>
                    <p class="help-block" ng-show="form.author.$error.required && submitted" >
                     <font color="red">  Author is required.</font>
                    </p>
                <md-input-container flex>
                    <label>About this book</label>
                    <input type="text" name="about" ng-model="book.about" required>
                </md-input-container>
                    <p class="help-block" ng-show="form.about.$error.required && submitted" >
                     <font color="red">  Book details are required.</font>
                    </p>
                 <md-input-container flex>
                    <label>Publisher</label>
                    <input type="text" name="pub" ng-model="book.pub" >
                </md-input-container>                                           
                 <md-select ng-model="book.catagory">                  
                    <md-option ng-value="">Category</md-option>                    
                    <md-option ng-value="book" ng-repeat="book in catagory" >{{ book.name }}</md-option>
                </md-select>
                     <p class="help-block" ng-show="book.name === undefined && submitted" >
                     <font color="red">  Category is required.</font>
                    </p>
                <md-input-container flex>
                    <label>Year Of Publication</label>
                    <input type="text" name="cat" ng-model="book.year" >
                </md-input-container>
                <md-input-container flex>
                    <label>Total Copies</label>
                    <input type="number" name="copy" ng-model="book.tCopy" min="1" required>
                </md-input-container>
                <p class="help-block" ng-show="form.copy.$error.required && submitted" >
                     <font color="red">  Total number of copies are required.</font>
                  </p>
                <div class="row">
                    <div class="col-sm-6">
                        <md-button class="primary-color md-raised" type="submit">
                            ADD
                        </md-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
