<div ng-include="'components/navbar/navbar.html'"></div>
<div layout flex class="container books overflow-auto">
    <div flex layout="column">
    <div class="row ">
        <div class="col-xs-12">
            <div class="form-header">
                <h4 class="page-heading">Books</h4>
            </div>
            <form class="form card-frame btn-frame" name="form" novalidate>
            <table ng-table="tableParams" class="table" show-filter="true">
                <tr ng-repeat="book in $data">
                    <td ng-click="viewBook(book.isbn)" ><img src="//localhost:9000/isbn-images?isbn={{book.isbn}}" width="75" height="100"></td>
                   <!--  <td ng-click="viewBook(book.isbn)" ><img src="http://images.amazon.com/images/P/{{book.isbn}}.jpg" width="75" height="100"></td> -->
                    <td ng-click="viewBook(book.isbn)" title="'TITLE'" filter="{ title: 'text'}" sortable="'title'">
                        {{book.title}}</td>
                    <td ng-click="viewBook(book.isbn)" title="'CATEGORY'" filter="{ catagory: 'text'}" sortable="'catagory'">
                        {{book.catagory}}</td>
                    <td ng-click="viewBook(book.isbn)" title="'AUTHOR'" filter="{ author: 'text'}" sortable="'author'">
                        {{book.author}}</td>
                    <td ng-click="viewBook(book.isbn)" title="'YEAR OF PUBLICATION'" filter="{ yearOfPublication: 'text'}" sortable="'yearOfPublication'">
                        {{book.yearOfPublication}}</td>
                </tr>
                <tr >
                    <td colspan="7" ng-show="$data.length==0"><center><h4 class="page-heading">No data available.  </h4></center></td>   
                </tr>
            </table>
                
            </form>
        </div>
        </div>
    </div>
</div>
