<div ng-include="'components/navbar/navbar.html'"></div>
<div layout flex class="container overflow-auto">
    <div flex layout="column">
        <div class="row ">
        <div class="col-xs-12 ">
        <div class="form-header">
            <h4 class="page-heading">My Loans</h4>
        </div>
            <form class="form card-frame btn-frame" name="form" novalidate>
                <table  ng-table="tableParams"  class="table" show-filter="true">
                <tr ng-repeat="book in $data">
                    <td title="'ISBN'" filter="{bookIsbn: 'text'}" sortable="'bookIsbn'">
                        {{book.bookIsbn}}</td>
                    <td  title="'TITLE'" filter="{bookTitle: 'text'}" sortable="'bookTitle'">
                        {{book.bookTitle}}</td>
                    <td  title="'AUTHOR'" filter="{ bookAuthor: 'text'}" sortable="'bookAuthor'">
                        {{book.bookAuthor}}</td>
                    <td  title="'PUBLISHER'" filter="{ bookPublisher: 'text'}" sortable="'bookPublisher'">
                        {{book.bookPublisher}}</td>
                    <td  title="'YEAR OF PUBLICATION'" filter="{ bookYearOfPublication: 'text'}" sortable="'bookYearOfPublication'">
                       {{book.bookYearOfPublication }}</td>
                    <td  title="'BORROWED DATE'" filter="{bookBorrowedDate: 'text'}" sortable="'bookBorrowedDate'">
                        {{calBorrowedDate(book.bookBorrowedDate )| date:'yyyy-MM-dd'}}</td>
                    <td  title="'RETURN DATE'" filter="{ bookReturnDate: 'text'}"  sortable="'bookReturnDate'">
                        {{calculateDate(book.bookReturnDate) | date:'yyyy-MM-dd'}}</td>
                </tr>
                  <tr >
                    <td colspan="7" ng-show="$data.length==0"><center><h4 class="page-heading">No data available.  </h4></center></td>   
                  </tr>
                </table>
            </form>

        <div  class="form-header margin-heading">
            <h4 class="page-heading">Loan History</h4>
        </div>
        <form class="form card-frame btn-frame" name="form" novalidate>
                <table  ng-table="table"  class="table" show-filter="true">
                <tr ng-repeat="book in $data">
                    <td ng-click="viewBook(book.isbn)" title="'ISBN'" filter="{bookIsbn: 'text'}" sortable="'bookIsbn'">
                        {{book.bookIsbn}}</td>
                    <td ng-click="viewBook(book.isbn)" title="'TITLE'" filter="{bookTitle: 'text'}" sortable="'bookTitle'">
                        {{book.bookTitle}}</td>
                    <td ng-click="viewBook(book.isbn)" title="'AUTHOR'" filter="{ bookAuthor: 'text'}" sortable="'bookAuthor'">
                        {{book.bookAuthor}}</td>
                    <td ng-click="viewBook(book.isbn)" title="'PUBLISHER'" filter="{ bookPublisher: 'text'}" sortable="'bookPublisher'">
                        {{book.bookPublisher}}</td>
                    <td ng-click="viewBook(book.isbn)" title="'YEAR OF PUBLICATION'" filter="{ bookYearOfPublication: 'text'}" sortable="'bookYearOfPublication'">
                       {{book.bookYearOfPublication }}</td>
                    <td ng-click="viewBook(book.isbn)" title="'BORROWED DATE'" filter="{ bookBorrowedDate: 'text'}" sortable="'bookBorrowedDate:'">
                        {{calBorrowedDate(book.bookBorrowedDate )| date:'yyyy-MM-dd'}}</td>
                    <td ng-click="viewBook(book.isbn)" title="'RETURN DATE'" filter="{ bookReturnDate: 'text'}" sortable="'bookReturnDate'">
                        {{calculateDate(book.bookReturnDate) | date:'yyyy-MM-dd'}}</td>
                </tr>
            
        </div>
        </div>
    </div>
</div>
