<div ng-include="'components/navbar/navbar.html'"></div>
<div layout flex class="container">
    <div flex layout="column">
        
        <div class="row col-xs-8 col-xs-offset-2">
        <div class="bg-info text-info">
            <h2 style="padding:5px 10px;">My Loans</h2>
        </div>
            <form class="form card-frame" name="form" novalidate>
                <table ng-table="bookTable" template-pagination="custom/pager" class="table">
                  <tr>
                    <th style="width:10%">ISBN</th>
                    <th style="width:20%">TITLE</th>
                    <th style="width:15%">AUTHOR</th>
                    <th style="width:15%">PUBLISHER</th>
                    <th style="width:10%">YEAR OF PUBLICATION</th>
                    <th style="width:10%">BORROWED DATE</th>
                    <th style="width:10%">RETURN DATE</th>
                    <th style="width:10%">FINE (Rs.)</th>
                  </tr>
                  <tr ng-repeat="book in orders">
                    <td>{{book.bookIsbn}}</td>
                    <td>{{book.bookTitle}}</td>
                    <td>{{book.bookAuthor}}</td>
                    <td>{{book.bookPublisher}}</td>
                    <td>{{book.bookYearOfPublication | date:'MMM yyyy'}}</td>
                    <td>{{book.bookBorrowedDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{book.bookReturnDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{calculateFine(book.bookReturnDate)}}</td>
                  </tr>
                </table>
            </form>

        <div class="bg-info text-info" style="margin-top: 60px;">
            <h2 style="padding:5px 10px;">Loan History</h2>
        </div>
            <form class="form card-frame" name="form" novalidate>
                <table ng-table="bookTable" template-pagination="custom/pager" class="table">
                  <tr>
                    <th style="width:10%">ISBN</th>
                    <th style="width:20%">TITLE</th>
                    <th style="width:15%">AUTHOR</th>
                    <th style="width:15%">PUBLISHER</th>
                    <th style="width:10%">YEAR OF PUBLICATION</th>
                    <th style="width:10%">BORROWED DATE</th>
                    <th style="width:10%">RETURN DATE</th>
                    <th style="width:10%">FINE (Rs.)</th>
                  </tr>
                  <tr ng-repeat="book in ordershistory">
                    <td>{{book.bookIsbn}}</td>
                    <td>{{book.bookTitle}}</td>
                    <td>{{book.bookAuthor}}</td>
                    <td>{{book.bookPublisher}}</td>
                    <td>{{book.bookYearOfPublication | date:'MMM yyyy'}}</td>
                    <td>{{book.bookBorrowedDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{book.bookReturnDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{book.fine | number:2}}</td>
                  </tr>
                </table>
            </form>
        </div>
    </div>
</div>
